body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: large;
}

p {
  margin: 20px;
  margin-top: 10px;
  font-size: small;
}

.navbar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}





.navbar a {
  float: left;
  display: block;
  color: rgb(180, 180, 180);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative; /* Set relative positioning for stacking order */
  /* Default padding for desktop */
  padding-left: 20vw;
  padding-right: 20vw;
}

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {
  .container {
    /* Adjust padding for mobile */
    padding-left: 0;
    padding-right: 0;
  }

  .foot{
    margin-left: 0;
  }

  .navbar{
    position: fixed; /* Fixed positioning for the left sidebar */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */  
  }
}





.fap1 {
  height: 70vh;
}

.fap2 {
  height: 55vh;
}

.fap3 {
  height: 45vh;
}

.fap4 {
  height: 35vh;
}
    
    /* Additional styling for demonstration purposes */
    .fap1 {
      overflow: auto;
      z-index: 1; /* Place fap2 on top of fap1 */
        }

    .fap2 {
      padding-top: 50px;
      overflow: auto;
     z-index: 2; /* Place fap2 on top of fap1 */
    }


   .fap3 {
  padding-top: 50px;
  overflow-y: auto;
  background-color: #eaeaea;
  color: #000000;
  border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
  border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
  z-index: 3; /* Place fap2 on top of fap1 */
}

    .fap4 {
      padding-top: 5px;
      background-color: #c6c6c6;
      color: #666666;
      border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
      border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
      z-index: 3; /* Place fap3 on top of fap2 */
    }


    
    .box{
      height: 0vh; 
    }



    .content1{
      text-align: center;
      position:sticky;
      top: 0;
      height: 100%;
      border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
      border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
    }

    .content2{
      background-color: #f8f8f8;
      position:sticky;
      top: 0;
      height: 100%;
      border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
      border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
      padding: 10px;
      padding-top: 20px;
    }

    .content3{
      background-color: #f0f0f0;
      position:sticky;
      top: 0;
      height: 100%;
      border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
      border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
      padding: 10px;
      padding-top: 20px;
    }
    


    .content4{
      background-color: #e5e5e5;
      color:#000000;
      position:sticky;
      top: 0;
      border-top-left-radius: 20px; /* Apply border-radius to top-left corner */
      border-top-right-radius: 20px; /* Apply border-radius to top-right corner */    
      padding: 10px;
      height: 100%;
    }

    img{
    border-radius: 10px;
    width: 95%;
    }
    
    .everyday_nav{
      font-size: small;
      padding-left: 20px;
      position: relative;
      color: #b0b0b0;
   }
   .contact_nav{
 text-align:right;
   }